* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
}
*::-webkit-scrollbar {
  width: 8px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  border-radius: 8px;
  border: transparent;
}
body {
  font-family: "Poppins", sans-serif;
}
h3,
h4 {
  font-weight: 400;
  color: rgb(99, 99, 99);
}
.AppContainer {
  position: relative;
  height: 100vh;
  overflow: hidden;
}
.App {
  transition: all 0.5s ease;
}
.bgGrad {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 10vh;
  left: 0;
  opacity: 0.5;
  background-color: lightcoral;
  z-index: -3;
  pointer-events: none;
}
.maincomponent {
  transform: translateX(-5%) scale(0.9);
}
.CurrentSongPlayingInfo {
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10vh;
}
.CurrentSongPlayingInfo img {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}
.CurrentSongPlayingInfo h2,
.CurrentSongPlayingInfoh3 {
  pointer-events: none;
}
.CurrentSongControls {
  height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.TimeStamp {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}
.TimeStamp p {
  pointer-events: none;
}
.track {
  width: 100%;
  background: rgb(248, 248, 248);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  height: 1rem;
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
}
.trackAnim {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  border-radius: 1rem;
  pointer-events: none;
  transition: 0.2s all linear;
}
.track input {
  width: 100%;
  -webkit-appearance: none;
  background-color: transparent;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 1rem;
  width: 1rem;
  background-color: transparent;
}
.TimeStamp p {
  padding: 1rem;
}
.MediaControls {
  display: flex;
  width: 35%;
  align-items: center;
  justify-content: space-between;
}
.MediaControls svg {
  cursor: pointer;
}

/*-----------------LIBRARY-------------------*/
.library {
  position: fixed;
  top: 0;
  right: 0;
  width: 20rem;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(5px);
  box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.2);
  height: 100%;
  overflow: auto;
  transform: translateX(100%);
  transition: 0.5s all ease;
  opacity: 0;
  z-index: 2;
}
.library h2 {
  display: flex;
  justify-content: center;
  padding: 1rem 2rem 1rem 2rem;
  pointer-events: none;
}
.library select {
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  border: none;
  width: 100%;
  cursor: pointer;
  padding: 0.5rem;
  border: 1px solid rgb(202, 202, 202);
  border-radius: 0.2rem;
  background-color: white;
  transition: all 0.5s ease;
}
.library select:hover {
  border: 1px solid rgb(99, 99, 99);
  background-color: rgb(248, 248, 248);
}
.library .select {
  position: relative;
  width: 100%;
  padding: 1rem;
}
.library .select::after {
  content: "\23f7";
  color: rgb(100, 100, 100);
  position: absolute;
  top: 1.25rem;
  right: 1.5rem;
  pointer-events: none;
}
.librarySong {
  display: flex;
  padding: 1rem;
  align-items: center;
  cursor: pointer;
  transition: 0.2s all ease;
  margin: 5px;
  border-radius: 5px;
}
.librarySong:hover {
  background-color: rgba(189, 196, 236, 0.5);
}
.librarySong img {
  width: calc(20rem * 0.2);
  border-radius: 5px;
}
.songdesc {
  padding-left: 1rem;
}
.songdesc h3 {
  font-size: 1rem;
}
.songdesc h4 {
  font-size: 0.8rem;
}
.selectedLibrary {
  background-color: rgb(240, 202, 255);
}
.activelibrary {
  transform: translateX(0);
  opacity: 1;
}
nav {
  min-height: 10vh;
  display: flex;
  padding: 0 5rem;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  position: fixed;
  top: 0;
  width: 100%;
}
nav h1 {
  font-family: "Pacifico", cursive;
  font-size: 2rem;
  transition: all 0.2s ease;
  /* text-shadow: 0 0 15px rgba(50, 50, 50, 0.2); */
  pointer-events: none;
}
nav button {
  background-color: transparent;
  outline: none;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid grey;
  margin-left: 0.5rem;
  transition: 0.3s all ease;
}
nav button:hover {
  background-color: black;
  border-color: #000;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.4);
  color: white;
}

.container {
  width: 400px;
  background: rgba(238, 238, 238, 0.9);
  backdrop-filter: blur(5px);
  position: fixed;
  top: 150%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  box-shadow: 0 0 25px 7px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  z-index: 3;
  transition: 0.3s all ease;
  opacity: 0;
}
.container.containerShow {
  top: 50%;
  opacity: 1;
}
.container h2 {
  text-align: center;
  color: #000;
  padding-bottom: 20px;
  text-transform: uppercase;
}
.container .inputBox {
  position: relative;
  margin-bottom: 20px;
}
.inputBox input {
  width: 100%;
  font-size: 16px;
  background: none;
  border: none;
  border-bottom: 1px solid rgb(9, 9, 131);
  color: #000;
  padding: 10px;
  outline: none;
}
.inputBox label {
  position: absolute;
  top: 0;
  left: 0;
  color: rgb(9, 9, 131);
  transition: 0.5s;
  font-size: 16px;
  pointer-events: none;
  padding: 10px;
}
.inputBox input:focus ~ label,
.inputBox input:valid ~ label {
  top: -17.5px;
  color: rgb(9, 9, 131);
  font-size: 0.75rem;
  border: none;
}
.container input[type="submit"] {
  border: none;
  background-color: rgb(9, 9, 131);
  width: 100%;
  border-radius: 5px;
  color: #fff;
  padding: 10px;
  cursor: pointer;
}
.selBox {
  width: 100%;
  margin-bottom: 20px;
  color: rgb(9, 9, 131);
  display: flex;
  flex-direction: column;
}
.selBox select {
  margin-top: 0.5rem;
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
  color: rgb(9, 9, 131);
  border-radius: 5px;
  outline: none;
  border: 1px solid rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
  transition: 0.2s;
}
.selBox select:focus,
.selBox select:hover {
  border: 1px solid rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.3);
}
.selBox select option {
  color: #200042;
}
@media screen and (max-width: 768px) {
  .container {
    width: 90%;
    padding: 2rem;
  }
}

@media screen and (max-width: 1000px) {
  .library {
    z-index: 1;
  }
  .library h2 {
    margin-top: 10vh;
  }
  nav {
    background-color: white;
    padding: 0 2.5rem;
  }
}
@media screen and (max-width: 768px) {
  .library {
    width: 100%;
  }
  .librarySong {
    padding: 1rem;
  }
  .librarySong img {
    width: 6rem;
  }
  .songdesc h3 {
    font-size: 1.2rem;
    font-weight: 600;
  }
  .songdesc h4 {
    font-size: 1rem;
  }
  .TimeStamp {
    width: 80%;
  }
  .MediaControls {
    width: 60%;
  }
}
