*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: rgba(155,155,155,0.5) transparent;
}
*::-webkit-scrollbar{
    width: 8px;
}
*::-webkit-scrollbar-track{
    background: transparent;
}
*::-webkit-scrollbar-thumb{
    background-color: rgba(155,155,155,0.5);
    border-radius: 8px;
    border: transparent;
}
body{
    font-family: 'Lato', sans-serif;
}
h3, h4{
    font-weight: 400;
    color: rgb(99, 99, 99);
}
.App{
    transition: all 0.5s ease;
}
.maincomponent{
    transform: translateX(-5%) scale(0.9);
}
.CurrentSongPlayingInfo{
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
}
.CurrentSongPlayingInfo img{
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}
.CurrentSongControls{
    height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.TimeStamp{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}
.track{
    width: 100%;
    background:rgb(248, 248, 248);
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    height: 1rem;
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
}
.trackAnim{
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: purple;
    border-radius: 1rem;
    pointer-events: none;
    transition: 0.2s all linear;
}
.track input{
    width: 100%;
    -webkit-appearance: none;
    background-color: transparent;
}
input[type="range"]:focus{
    outline: none;
}
input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 1rem;
    width: 1rem;
    background-color:transparent;
}
.TimeStamp p{
    padding: 1rem;
}
.MediaControls{
    display: flex;
    width: 35%;
    align-items: center;
    justify-content: space-between;
}
.MediaControls svg{
    cursor: pointer;
}

/*-----------------LIBRARY-------------------*/
.library{
    position: fixed;
    top: 0;
    right: 0;
    width: 20rem;
    background-color: white;
    box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.2);
    height: 100%;
    overflow: auto;
    transform: translateX(100%);
    transition: 0.5s all ease;
    opacity: 0;
    z-index: 1;
}
.library h2{
    display: flex;
    justify-content: center;
    padding: 1rem 2rem 1rem 2rem;
}
.librarySong{
    display: flex;
    padding: 1rem;
    align-items: center;
    cursor: pointer;
    transition: 0.2s all ease;
    margin: 5px;
    border-radius: 5px;
}
.librarySong:hover{
    background-color: rgba(189, 196, 236, 0.5);
}
.librarySong img{
    width: calc(20rem * 0.2);
    border-radius: 5px;
}
.songdesc{
    padding-left: 1rem;
}
.songdesc h3{
    font-size: 1rem;
}
.songdesc h4{
    font-size: 0.8rem;
}
.selectedLibrary{
    background-color: rgb(240, 202, 255);
}
.activelibrary{
    transform: translateX(0);
    opacity: 1;
}

/*------------Navbar--------------*/
nav{
    min-height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 2;
    position: fixed;
    top: 0;
    width: 100%;
}
nav button{
    background: transparent;
    border: none;
    cursor: pointer;
    transition: 0.2s all ease;
    outline: none;
    object-fit: contain;
    border-radius: 50%;
    padding: 14px 16px;
    margin-right: -8px ;
    margin-top: -8px;
    border: 1px solid grey
}
button svg{
    padding: 0;
    transition: 0.2s all ease;
}
.btnactive{
    background-color: black;
    color: white;
    transition: 0.2s all ease;
}
.btnactive:hover{
    color: black;
    background-color: white;
}
nav button:hover{
    background-color:black;
    color: white;
}
nav button:hover svg{
    transform: scale(1.2);
}
@media screen and (max-width: 1000px){
    .library{
        top: 10vh;
    }
    nav{
        background-color: white;
    }
}
@media screen and (max-width: 768px){
    .library{
        width: 100%;
    }
    .librarySong{
        padding: 2rem;
    }
    .librarySong img{
        width: 8rem;
    }
    .songdesc h3{
        font-size: 1.6rem;
    }
    .songdesc h4{
        font-size: 1.2rem;
    }
    .CurrentSongControls{
        margin-top: 5vh;
    }
    .TimeStamp{
        width: 80%;
    }
    .MediaControls{
        width: 60%;
    }
}